/* custom.css */
body {
  background: #000;
  color: #fff;
}

/* avatar & highlight */
.story {
  width: 70px;
  height: 70px;
  border-radius: 9999px;
  border: 2px solid #333;
  object-fit: cover;
}

/* feed persegi */
.ig-post {
  aspect-ratio: 1/1;
  overflow: hidden;
}
.ig-post > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* tab */
.tab-btn {
  color: #9ca3af;
}
.tab-btn.active {
  color: #fff;
  border-bottom: 2px solid #fff;
}

/* teks kecil yang kamu pakai di header */
.name {
  font-size: 1.1rem;
}
.stat small {
  color: #9ca3af;
}
